@using BlazorBFFAspNetOidcSample.Client.Infrastructure
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager navigationManager
@inject AntiforgeryHandler antiforgeryHandler

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link" @onclick="LogoutAsync">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="auth/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task LogoutAsync(MouseEventArgs args)
    {
        string uri = QueryHelpers.AddQueryString("auth/blazorlogout", new Dictionary<string, string> { { "antiforgeryToken", await antiforgeryHandler.GetAntiforgeryTokenAsync() } });
        navigationManager.NavigateTo(uri, forceLoad: true);
    }
}
