@page "/callapi1"
@attribute [Authorize]
@inject HttpClient httpClient
@inject IConfiguration Configuration

<h1>Call AspNetCoreApi1Sample</h1>

<p>This component demonstrates fetching data from the API.</p>

@if (api1Result == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Result</h3>
    <pre>@api1Result</pre>
}

@code {
    private string api1Result;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var aspNetCoreApi1SampleMethod = Configuration["AppSettings:AspNetCoreApi1SampleMethod"];
            api1Result = await httpClient.GetStringAsync(aspNetCoreApi1SampleMethod, "1234");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
