@inject TokenProvider TokenProvider

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <form method="post" action="logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
            <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken" />
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
