@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Auth", FormMethod.Post, new { id = "logoutForm", @class = "nav-link text-dark" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="nav-link text-dark">Hello, @User.Identity.Name!</span>
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Auth", routeValues: null, htmlAttributes: new { @class = "nav-link text-dark" })</li>
    </ul>
}