@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    Request ID: <code>@Model.RequestId</code>
    @if (Model.TechnicalErrors?.Count() > 0)
    {
        <br />

        <span>Technical error:</span>
        foreach (var technicalError in Model.TechnicalErrors)
        {
            <br />

            <code>@technicalError</code>
        }
    }
</p>